// Place all the styles related to the api/assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.market-closed {
  background-color: #1b1b1d;
  color: #fff
}

.asset-show-main {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
}

div {
  box-sizing: inherit;
}

.c2W3-2ndhighcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  height: 100%
}

.asset-search-bar {
  background: #1b1b1d;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.asset-search-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -6px;
}

.logo-and-search {
  align-items: center;
  display: flex;
  flex: 0 0 72.22222%;
  padding-left: 6px;
  padding-right: 6px;
}

.asset-hood-logo {
  padding: 0;
  position: absolute;
  left: 48px;
  padding: 0 18px 0 8px;
  color: inherit;
  text-decoration: inherit;
}

.asset-hood-logo svg {
  color: #fff;
  transition: color 300ms ease-out;
  overflow: visible;
  fill: currentColor;
}

.navLogoStar {
  display: none;
}

.asset-search-styling {
  flex-basis: 480px;
  margin-right: auto;
  color: #fff;
  margin-bottom: 0;
  height: 36px;
  position: relative;
  width: 100%;
}

.asset-search-border {
  background: #1b1b1d;
  border: 1px solid;
  border-color: #0e0d0d;
  border-radius: 4px;
  position: absolute;
  width: 100%;
}

.asset-search-control {
  background: #1b1b1d;
  color: #fff;
  border: none;
  cursor: text;
  height: 36px;
  position: relative;
}

.asset-search-contorl span {
  align-items: center;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.select-placeholder {
  color: #8c8c8e;
  transition: color 150ms ease-out;
  align-items: center;
  display: flex;
  height: 36px;
  left: 0;
  padding: 0 24px 0 52px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  box-sizing: border-box;
  bottom: 0;
  line-height: 34px;
  max-width: 100%;
  overflow: hidden;
  right: 0;
  text-overflow: ellipsis;
}

.asset-select-input {
  display: inline-block;
  align-items: center;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%
}

.asset-search-input {
  box-sizing: content-box;
  width: 400px;
  color: #fff;
  background: none;
  border: none;
  height: 36px;
  line-height: 36px;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  box-shadow: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}
.asset-search-icon {
  fill: #8c8c8e;
  cursor: text;
  left: 24px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: fill 150ms ease-out;
  overflow: visible;
  box-sizing: inherit;
  width: 18px;
  height: 18px;
}

.cont-without-nav {
  margin-bottom: 64px;
  text-align: center;
  height: 664px;

}

.before-main-container {
  padding-top: 64px;
  text-align: left;
  width: 100%;
  height: 100%;
}

.main-container {
  padding-top: 36px;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
}


.tag-line {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  max-width: 570px;
  height: 40px;
}

.tags {
  box-flex: 0;
  flex: 0 0 auto;
  margin: 0 12px 12px 0;
  height: 100%;

}

.tag-link {
  color: #21ce99;
  fill: #21ce99;
  cursor: pointer;
  background: #182b27;
  box-align: center;
  align-items: center;
  border-radius: 17px;
  display: inline-flex;
  height: 28px;
  overflow: hidden;
  padding: 0 12px 1px;
  text-decoration: none;
}

.head-row {
  display: flex;
  box-pack: justify;
  justify-content: space-between;
  margin: 0 -6px;
}

.graph-cont {
  box-flex: 0;
  flex: 0 0 66.66667%;
}

.asset-header {
  display: flex;
  box-pack: justify;
  justify-content: space-between;
}

.asset-header h1 {
  max-width: 497px;
  font-size: 36px;
font-weight: 500;
letter-spacing: -0.29px;
line-height: 42px;
margin: 0;
}

.qwe {
  margin-bottom: 0;
}

.graph-begin {
  width: 676px;
  margin-bottom: 44px;
}

.graph-header {
  margin-bottom: 12px;
}

.graph-header h1 {
  margin-bottom: 4px;
}

.graph-asset-price {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 42px;
  margin: 0;
}

.graph-buttons {
  margin: 24px 0 12px;
  display: flex;
  border-bottom: 1px solid #0e0d0d;
}

.graph-buttons button {
  cursor: pointer;
  box-align: center;
  display: flex;
  height: 100%;
  margin: 0 12px;
  padding-bottom: 12px;
  text-align: center;
  border: none;
  border-bottom: 2px solid transparent;
  background:none!important;
  color:inherit;
  font: inherit;
  outline: none;
}

.graph-buttons button:hover {
  color: #21ce99
}

.graph-buttons button:first-child{
  margin-left: 0;
}

.graph-buttons button:last-child{
  margin-right: 0;
}

.about {
  margin-bottom: 60px;
}

.about-header {
  margin-bottom: 24px;
}

.about-border {
  border-color: #0e0d0d;
  border-bottom: 1px solid #0e0d0d;
  padding-bottom: 16px;
  box-align: baseline;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.about-border h2 {
  margin: 0
}

.about-border a {
  color: #21ce99;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.about-description-cont {
  margin-bottom: 15px;
}

.about-description {
  margin: 0 0 24px;
  max-width: 570px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.about-description a {
  color: #21ce99;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 19px;
}

.about-grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 18px;
}

.about-grid-item {
  margin: 0 6px 12px;
  flex-basis: calc(25% - 11px);
}

.about-grid > *:nth-child(4n + 1) {
  margin-left: 0;
}

.about-grid-item-title {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

.about-grid-item-object {
  margin-bottom: 0;
  margin-top: 0;
}

.collections {
  margin-bottom: 60px;
}

.collections-header {
  margin-bottom: 24px;
}

.collections-header-title {
  border-bottom: 1px solid #0e0d0d;
  padding-bottom: 16px;
  box-align: baseline;
  align-items: baseline;
  display: flex;
  box-pack: justify;
  justify-content: space-between;
}

.collections-header-title h2 {
  margin: 0;
}

.collections-item-cont {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  max-width: 570px;
}

.collections-item {
  box-flex: 0;
  flex: 0 0 auto;
  margin: 0 12px 12px 0;
}

.news {
  margin-bottom: 60px;
}

.news-header-cont {
  margin-bottom: 0;
}

.the-news-header-content {
  border-bottom: 1px solid;
  border-color: #0e0d0d;
  padding-bottom: 16px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.news-padding-provider {
  border-radius: 4px;
  margin: 0 -30px;
  padding: 30px;
  position: relative;
  transition: background 150ms;
}

.news-left-image {
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  flex-shrink: 0;
  height: 134px;
  width: 196px;
}

.rand-a {
  color: #21ce99;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 500;
}

.news-content-container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 24px;
}

.news-source-cont {
  margin-top: -4px;
}

.news-description-cont {
  margin: 4px 0;
  max-height: 10.5ex;
  max-width: 420px;
  overflow: hidden;
}

.news-flex-provider {
  display: flex;
}


.the-news-header-content a {
  color: #21ce99;
  font-weight: 500;
  text-decoration: none;
}

.order-cont {
  margin-right: 0;
  flex: 0 0 27.77778%;
  display: block;
  padding-left: 6px;
  padding-right: 6px;
}

.sidebar-content {
  margin-bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 95px;
    width: 275.77778px;
}

.take-order {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  background: #1b1b1d;
  padding: 0 24px;
  position: relative;
  border: none;
  border-radius: 2px;

}

.order-header {
  align-items: center;
  border-bottom: 1px solid #0e0d0d;
  display: flex;
  height: 52px;
  justify-content: space-between;
  margin: 0 -24px;
  padding: 4px 24px 0;
}

.order-head-cont {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    transition: border-color 250ms;
    width: 100%;
}

.order-asset-detail {
  padding-bottom: 12px;
  padding-top: 12px;
  position: relative;
}

.order-shares-detail label {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: space-between;
  white-space: nowrap;
}

.order-shares-detail input {
  background: #171718;
  border-color: #171718;
  color: #fff;
  width: 54px;
  text-align: right;
  padding: 0 13px;
  height: 34px;
}

.order-market-price-detail {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    white-space: nowrap;
    padding-right: 12px;
    position: relative;
}

.order-market-price-detail a {
  color: #21ce99;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  height: 48px;
  padding-top: 2px;
}

.order-market-price-detail span {
  font-weight: 500;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-cost {
  font-weight: 500;
  border-top: 1px solid;
  border-color: #0e0d0d;
  padding-right: 12px;
}

.order-cost label {
align-items: center;
display: flex;
height: 48px;
white-space: nowrap;
align-items: center;
display: flex;
justify-content: space-between;
min-height: 48px;
}

.order-estimated-cost {
  margin-right: 12px;
  min-width: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-option-check {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.order-option-checkbox-cont {
  margin-right: 12px;
}

.order-option-checkbox-cont div {
  background: #21ce99;
  border: 2px solid;
  border-color: #21ce99;
  border-radius: 4px;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 20px;
}

.order-option-checkbox-cont span {
  color: #8c8c8e;
  font-weight: 400;
}

.review-button-cont {
  background: #1b1b1d;
  border-top: 1px solid transparent;
  transition: border-color 250ms;
  margin: 0 -24px 0;
  padding: 12px 24px 24px;
}

.review-button {
  padding-right: 66px;
}

.review-button-btn {
  color: #1b1b1d;
  background: #21ce99;
  border-color: #21ce99;
  width: 100%;
  font-weight: 500;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  padding: 0 32px;
  font-family: inherit;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-align: center;
}

.buying-power {
  margin: 0 -24px 0;
  align-items: center;
  border-top: 1px solid;
  border-color: #0e0d0d;
  display: flex;
  height: 48px;
  justify-content: center;
}
