// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//HOMEFORM //////////////////////>>>>

.searchBar {
  height: 64px;
}

.navContainer {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 14px;
  width: 1024px;
}

.searchRow {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.hoodLogo {
  width: 48px;
  height: 48px;
}

.robin {
  height: 38px;
  width: 38px;
}

.LogoandSearch {
  width: 72.22%;
  display: inline-block;
  flex-basis: 480px;
  margin-right: auto;
  height: 36px;
  position: relative;
}
.searchStyling {
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.searchInput {
  background-color: white;
  width: inherit;
  height: inherit;
  padding: 0;
  padding-left: 10px;
  overflow: hidden;
  margin: 0;
  border: 1px solid;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .25px;
}

.navLinks {
  width: 27.78%;
  display: inline-block;
}

.navLinkContainer {
  flex-basis: 216px;
  top: 22px;
  right: 48px;
  align-items: center;
  display: flex;
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 19px;
  margin: 0;
  cursor: pointer;
}

.homeLink {
  margin-right: 30px;
}

.notifications {
  margin-right: 30px;
}

//LOGIN FORM ////////////////////>>>>

.center {
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
width: 100%;
}

.login-form-container {
align-items: center;
background: #fff;
display: flex;
height: 100%;
width: 100%;
}

.login-form {
  flex: 1 1 50%;
  margin-left: 52px;
  margin-right: 52px;
  width: 412px;
}

.left-image {
background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/94977d34f99015525dcd0fc9987fcbe6.png);
background-position: 50%;
background-size: cover;
height: 100%;
flex: 1 1 50%;
min-width: 500px;
}

.login-submit {
  height: 48px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background: #21ce99;
  border-color: #21ce99;
  min-width: 100px;
}

.buttons {
  width: 378px;
  display: flex;
  justify-content: space-between;
}

.buttons a {
  color: white;
  text-decoration: none;
}

.the-fuck-kyle input{
  width: 100%;
}

.vert-form {
  margin-bottom: 60px;
}

.label {
  padding-top: 9px;
  padding-bottom: 9px;
}

.login-input {
    border: 1px solid;
    border-radius: 4px;
    height: 36px;
    line-height: 1.5em;
    outline: 0;
    padding: 0 13px;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
    width: 100%;
    max-width: 350px;
    background: #fafafa;
    border-color: #fafafa;
}

li {
  color: red;
  list-style: none;
}

.welcome {
  margin-bottom: 16px;
}
.welcome h2 {
  margin: 0;
}
